<form asp-action="Create">
    <input type="text" name="ID" placeholder="ID">
    <input type="text" name="Hoten" placeholder="Họ tên">
    <input type="text" name="Matkhau" placeholder="Mật khẩu">
    <input type="text" name="Diachi" placeholder="Địa chỉ">
    <input type="submit" value="Create">
</form>