<div class="w3-container">
  <h2>Buttons (w3-button)</h2>
  <input type="button" class="w3-button w3-black" value="Hoang Hieu">
  <button class="w3-button w3-black">Hoang Hieu</button>
  <a href="#" class="w3-button w3-black">Hoang Hieu</a>
</div>

<div class="w3-container">
  <h2>Buttons (w3-btn)</h2>
  <input type="button" class="w3-btn w3-black" value="Hoang Hieu">
  <button class="w3-btn w3-black">Hoang Hieu</button>
  <a href="#" class="w3-btn w3-black">Hoang Hieu</a>
</div>