<body>
<div> 
  <h2>Without a Container</h2>
  <p>Khuat Hoang Hieu</p>
  <p>2121050016</p>
</div>
<div class="w3-container"> 
  <h2>With a Container</h2>
  <p>Khuat Hoang Hieu</p>
  <p>2121050016</p>
</div>
</body>