<div class="w3-container">
  <h1>Using w3-display-container</h1>

  <div class="w3-display-container w3-green" style="height:300px;">
    <div class="w3-display-topleft">Hoang Hieu</div>
    <div class="w3-display-topright">Hoang Hieu</div>
    <div class="w3-display-bottomleft">Hoang Hieu</div>
    <div class="w3-display-bottomright">Hoang Hieu</div>
    <div class="w3-display-left">Hoang Hieu</div>
    <div class="w3-display-right">Hoang Hieu</div>
    <div class="w3-display-middle">Hoang Hieu</div>
    <div class="w3-display-topmiddle w3-hide-small">Hoang Hieu</div>
    <div class="w3-display-bottommiddle w3-hide-small">Hoang Hieu</div>
  </div>
</div>