<div class="w3-container">
  <h2>Text Alignments</h2>

  <div class="w3-container w3-border w3-large">
    <div class="w3-left-align"><p>Khuat Hoang Hieu</p></div>
    <div class="w3-right-align"><p>2121050016</p></div>
  </div>
</div>